<!DOCTYPE html>
<html lang="en" dir="donos">

<head>
  <meta charset="utf-8">
  <title>Student transfer</title>
  <style>
    h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<body style="background: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700007560.jpg');
            background-repeat: no-repeat;
            background-size: cover">-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>

    <body>
      <h1>Student Money Transfer</h1>
      <div>
        <div>
          <form action="/Comments" method="post">
            <input class="feedbackform" type="text" name="user" placeholder="Enter money" value="">
            <div class="commentspacing">


              <input type="button" onclick="location.href='http://localhost:5000/?';" value="Go Back" class="button1" />
              <input type="button" onclick="location.href='http://localhost:5000/studenttransfer?';" value="Transfer Money" />
            </div>
          </form>
        </div>
      </div>
    </body>

</html>
